*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


.navbar{
    display:flex;
    background-color:#fff;
    justify-content:space-between;
    align-items:center;
    padding:25px 0;
}
nav ul{
    list-style:none;
    display:flex;
    gap:35px;
    
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    color:white;
}
.logo h3{
    font-size:22px;
    color: black;
    padding-bottom:0;
}

.logo small{
    font-size:20px;
    color: black;
    padding-top:0;
    font-weight:bold
}

.logo-icon{
    font-size:50px;
    font-weight:bold;}
    
    .btn{
    display:inline-block;
    background:blue;
    color:white;
    padding:15px 25px;
     border-radius:8px;
    font-weight:600;
    }

    .container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

body{
    font-family:'Inter';
    background:white;
    color:black;
    line-height:1.6;
}

nav ul li a{
    color:black;
    font-weight:500;   
    
}
a{
    text-decoration:none;
}
